*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Zen Dots', cursive;
}

body{
    background-color:rgba(0, 0, 0, 0.9); 
    height: 100vh;
    width: 100%;
}

h1{
    margin:30px;
    padding: 20px;
    text-align: center;
    background-color: rgb(230, 27, 27);
}

.similarFilms{
    margin: 10px;
    border-radius: 10px;
    height:50%;
    background-color: white;
    overflow-y: auto;
}
.movie_img{
    float: left;
    /*padding: 20px 30px 40px 40px;*/
}

.Title{
    font-size: xx-large;
    text-align: center;
}

.Years, .released{
    text-align: center;
}

#reviewInput,#ratingInput{
    background-color: #734141ab;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 20px;
}

.btn{
    color: orangered;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

#submit_rev,#year_release,#poster,#duration,#genre,#plot,#actor,#name{
    background-color: #eda1a16e;
}
::placeholder {
    color: white;
    padding-left: 10px;
}
