*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Zen Dots', cursive;
}

body{
    background-color:rgba(0, 0, 0, 0.9); 
    height: 100vh;
    width: 100%;
}

h1{
    margin:30px;
    padding: 20px;
    text-align: center;
    background-color: rgb(230, 27, 27);
}


.searchBox{
    margin: 10px;
}
.searchBox .searchMov{
    border-radius: 10px;
    height: 30px;
    width: 50%;
    margin: 5px 0;
    padding: 20px;
}

.searchBox .searchButton{
    color: black;
    padding: 12px;
    border-radius: 10px;
    margin: 13px;
    cursor: pointer;
    transition:2s;
}

.allPeeps{
    width: 55%;
    height: 90%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.button{
    color: black;
    padding: 12px;
    border-radius: 10px;
    margin: 13px;
    cursor: pointer;
    transition: 2s;
}
.button:hover{
    background-color:orangered;
    color:white;
}

.searchButton:hover{
    background-color:orangered;
    color:white;
}