head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title SEARCH MOVIE
  link(rel='stylesheet' href='/css/style.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap' rel='stylesheet')
// LOGO
h1 MOVIE LOOKUP

// ACTOR LOOKUP
a(href='/actorLookup')
  input.button(type='button' value='LOOKUP CREATOR/ ACTOR/ WRITER/ DIRECTORS')
a(href='/profile')
  input.button(type='button' value='PROFILE')
if !isLoggedIn
  a(href='/login')
    input.button(type='button' value='LOGIN')

// Use Forms

.searchBox
    form(method="GET" action="/searchMov")
        label(for='searchMovie')
        input#searchMovie(type='text' name='searchMovie' style='color: black;')  
        button#searchButton(type='submit') Search
// CONTAINER FOR ALL MOVIES THAT SATISFIED THE SEARCH HISTORY
.movie_outputs
    for a in movies
        .movie_img
            //p #{a.Title}
            a(href='/movies/'+a.Title)
              img(src=a.Poster alt='img' width='400' height='450' style='border-radius: 10px;')
        //img(src='https://m.media-amazon.com/images/M/MV5BZjY1NDZjYjYtZjRmMi00M2NhLTllMDktZDg2ZTRmNDA4Njc5XkEyXkFqcGdeQXVyNjQ4NTg2ODY@._V1_SX300.jpg' alt='img' width='400' height='450' style='border-radius: 10px;')
// footer
