head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title SEARCH MOVIE
  link(rel='stylesheet' href='css/style.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap' rel='stylesheet')
// LOGO
h1 MOVIE LOOKUP
// SEARCH OPTION
// Use Forms
.searchBox
  input.searchMov(type='text' placeholder='Enter a movie' style='color: black;')
  a(href='/movieInfo')
    input.searchButton(type='button' value='Submit')
// CONTAINER FOR ALL MOVIES THAT SATISFIED THE SEARCH HISTORY
.movie_outputs
  .movie_img
    img(src='https://m.media-amazon.com/images/M/MV5BZjY1NDZjYjYtZjRmMi00M2NhLTllMDktZDg2ZTRmNDA4Njc5XkEyXkFqcGdeQXVyNjQ4NTg2ODY@._V1_SX300.jpg' alt='img' width='400' height='450' style='border-radius: 10px;')
  .movie_img
    img(src='https://m.media-amazon.com/images/M/MV5BYzQyZGQyZDEtZjI5Zi00NmI5LWI5NTctNDA4NjI5YWNjYjdjXkEyXkFqcGdeQXVyMjAxMjEzNzU@._V1_SX300.jpg' alt='img' width='400' height='450' style='border-radius: 10px;')
  .movie_img
    img(src='https://m.media-amazon.com/images/M/MV5BYjgxOWYxMGQtMTc4MC00MzdmLWI0NTgtYzc1NzFiMGU4MWRjXkEyXkFqcGdeQXVyMzYxMzc3OTM@._V1_SX300.jpg' alt='img' width='400' height='450' style='border-radius: 10px;')
  .movie_img
    img(src='https://m.media-amazon.com/images/M/MV5BMTYyNTcwODYzMF5BMl5BanBnXkFtZTcwNjMwMzU1MQ@@._V1_SX300.jpg' alt='img' width='400' height='450' style='border-radius: 10px;')
  .movie_img
    img(src='https://m.media-amazon.com/images/M/MV5BZjY1NDZjYjYtZjRmMi00M2NhLTllMDktZDg2ZTRmNDA4Njc5XkEyXkFqcGdeQXVyNjQ4NTg2ODY@._V1_SX300.jpg' alt='img' width='400' height='450' style='border-radius: 10px;')
  .movie_img
    img(src='https://m.media-amazon.com/images/M/MV5BZjY1NDZjYjYtZjRmMi00M2NhLTllMDktZDg2ZTRmNDA4Njc5XkEyXkFqcGdeQXVyNjQ4NTg2ODY@._V1_SX300.jpg' alt='img' width='400' height='450' style='border-radius: 10px;')
  .movie_img
    img(src='https://m.media-amazon.com/images/M/MV5BZjY1NDZjYjYtZjRmMi00M2NhLTllMDktZDg2ZTRmNDA4Njc5XkEyXkFqcGdeQXVyNjQ4NTg2ODY@._V1_SX300.jpg' alt='img' width='400' height='450' style='border-radius: 10px;')
  .movie_img
    img(src='https://m.media-amazon.com/images/M/MV5BZjY1NDZjYjYtZjRmMi00M2NhLTllMDktZDg2ZTRmNDA4Njc5XkEyXkFqcGdeQXVyNjQ4NTg2ODY@._V1_SX300.jpg' alt='img' width='400' height='450' style='border-radius: 10px;')
// footer
