doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Movie Detail
  link(rel='stylesheet' type='text/css' href='css/style2.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap' rel='stylesheet')
// NAV BAR TO HOME PAGE
h1
  a(href='/' style='text-decoration: none;') MOVIE LOOKUP
// TITLE OF MOVIE
// The Rest of the information
div(style='margin: 10px;border: 3px solid white;background-color: rgba(255, 255, 255, 0.31); border-radius: 10px;')
  .Title Meatballs 4
  br
  .movie_img_Main
    img(src='https://m.media-amazon.com/images/M/MV5BZjY1NDZjYjYtZjRmMi00M2NhLTllMDktZDg2ZTRmNDA4Njc5XkEyXkFqcGdeQXVyNjQ4NTg2ODY@._V1_SX300.jpg' alt='Movie Name' width='300' height='450' style='border-radius: 10px;display: block;margin-left: auto;margin-right: auto;')
  br
  // STYLE THIS BOI
  .Years Year: 1992  ||  Rated: R
  br
  .released Year Of Release: 04 Dec 1992
  br
  .Genre(style='margin: 10px;')
    | Genre: 
    br
    | Comedy
  br
  .Directors(style='margin: 10px;')
    | Director: 
    br
    | Bob Logan
  br
  .Actors(style='margin: 10px;')
    | Actors: 
    br
    | Corey Feldman, Jack Nance, Sarah Douglas, Bojesse Christopher
  br
  .Plot(style='margin: 10px;')
    | PLOT: Ricky is the hottest water-ski instructor around and he has just be rehired by his former employer/camp to whip up attendance. But the camp is in serious financial trouble and the owner of ...
  br
  .Awards(style='margin: 10px;')
    | Awards: 
    br
    | N/A
  br
br
// Display movies that have similar attachements to it
h2(style='margin: 10px;') SIMILAR MOVIES BE LIKE  
.similarFilms
  .movie_img
    img(src='https://m.media-amazon.com/images/M/MV5BZjY1NDZjYjYtZjRmMi00M2NhLTllMDktZDg2ZTRmNDA4Njc5XkEyXkFqcGdeQXVyNjQ4NTg2ODY@._V1_SX300.jpg' alt='Movie Name' width='300' height='450' style='border-radius: 10px;')
  .movie_img
    img(src='https://m.media-amazon.com/images/M/MV5BZjY1NDZjYjYtZjRmMi00M2NhLTllMDktZDg2ZTRmNDA4Njc5XkEyXkFqcGdeQXVyNjQ4NTg2ODY@._V1_SX300.jpg' alt='Movie Name' width='300' height='450' style='border-radius: 10px;')
  .movie_img
    img(src='https://m.media-amazon.com/images/M/MV5BZjY1NDZjYjYtZjRmMi00M2NhLTllMDktZDg2ZTRmNDA4Njc5XkEyXkFqcGdeQXVyNjQ4NTg2ODY@._V1_SX300.jpg' alt='Movie Name' width='300' height='450' style='border-radius: 10px;')
  .movie_img
    img(src='https://m.media-amazon.com/images/M/MV5BZjY1NDZjYjYtZjRmMi00M2NhLTllMDktZDg2ZTRmNDA4Njc5XkEyXkFqcGdeQXVyNjQ4NTg2ODY@._V1_SX300.jpg' alt='Movie Name' width='300' height='450' style='border-radius: 10px;')
  .movie_img
    img(src='https://m.media-amazon.com/images/M/MV5BZjY1NDZjYjYtZjRmMi00M2NhLTllMDktZDg2ZTRmNDA4Njc5XkEyXkFqcGdeQXVyNjQ4NTg2ODY@._V1_SX300.jpg' alt='Movie Name' width='300' height='450' style='border-radius: 10px;')
br
